<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>bootstrap实例</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />		
		<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
		<script src="../assets/js/jquery-1.12.3.js"></script>
		<script src="../assets/js/bootstrap.js"></script>
	</head>
	<body>
		<div class="nav">
			<nav class="navbar navbar-default  role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
						<span class="sr-only">导航栏</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">微信公众号管家</a>
				</div>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav">
						<li >
							<a href="Home_index.html">首页</a>
						</li>
						<li class="active">
						   <a href="Home_about.html">关于</a>
						</li>
						<li>
							<a href="Home_case.html">文章</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多精彩<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">彩蛋1</a>
								</li>
								<li>
									<a href="#">彩蛋2</a>
								</li>
							</ul>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
	    <div class="container">
		   <h2>联系方式</h2>
		   <address>
		       <strong>深圳市四光年信息技术有限公司.</strong><br> 深圳市南山区深南大道100号<br>
		       <abbr title="Phone">联系电话:</abbr> 400-123-123
		   </address>
		   <h2>建议</h2>
		   <form action="" role="form" class="form-horizontal">
			  <div class="form-group">
			      <label class="col-sm-2 control-label" for="">姓名</label>
			      <div class="col-sm-4">
			      	<input class="form-control" id="truename" type="text" />
			      </div>
			      
			  </div>
			  <div class="form-group">
			      <label class="col-sm-2 control-label">称呼</label>
			      <div class="col-sm-4">
			      	 <div class="radio">
				     <label>
				         <input name="type" type="radio"/>先生
				     </label>
					  </div>
					  <div class="radio">
						  <label>
						    <input name="type" type="radio" />女士
						  </label>
					  </div>
			      </div>
			      
			  </div>
			  <div class="form-group">
			      <label class="col-sm-2 control-label" for="job">你的职位</label>
			      <div class="col-sm-4">
			      	<select class="form-control" name="" id="job">
			          <option value="">开发者</option>
			          <option value="">运营</option>
			          <option value="">管理人员</option>
			      </select>
			      </div>
			      
			  </div>
			  <div class="form-group">
			      <label class="col-sm-2 control-label" for="">你最喜欢”公众号管家“的哪个功能</label>
			      <div class="col-sm-4">
			      	<div class="checkbox">
			         <label>
			             <input type="checkbox" checked>文章高级排版
			         </label>
			     </div>
			     <div class="checkbox">
			         <label>
			             <input type="checkbox">多公众号切换
			         </label>
			     </div>
			     <div class="checkbox">
			         <label>
			             <input type="checkbox">素材集中管理
			         </label>
			     </div>
			     <div class="checkbox">
			         <label>
			             <input type="checkbox">其他
			         </label>
			     </div>
			      </div>
			     
			  </div>
			  <div class="form-group">
			      <label class="col-sm-2 control-label" for="">更多建议</label>
			      <div class="col-sm-4">
			      	<textarea class="form-control" rows="3" cols=""></textarea>
			      	<p>请不要超过500个字</p>
			      </div>
			      
			  </div>
			  
			  <div>
			      <button class="btn btn-primary">提交</button>
			  </div>
			</form>
		</div>
	</body>
</html>
