<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>bootstrap实例</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />		
		<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
		<script src="../assets/js/jquery-1.12.3.js"></script>
		<script src="../assets/js/bootstrap.js"></script>
	</head>

	<body>
		<!--导航-->
		<div class="nav">
			<nav class="navbar navbar-default  role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
						<span class="sr-only">导航栏</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">微信公众号管家</a>
				</div>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="Home_index.html">首页</a>
						</li>
						<li>
						   <a href="Home_about.html">关于</a>
						</li>
						<li>
							<a href="Home_case.html">文章</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多精彩<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">彩蛋1</a>
								</li>
								<li>
									<a href="#">彩蛋2</a>
								</li>
							</ul>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
		<!--轮播图-->
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../assets/img/1.jpg" alt="First slide">
					</div>
					<div class="item">
						<img src="../assets/img/2.jpg" alt="Second slide">
					</div>
					<div class="item">
						<img src="../assets/img/3.jpg" alt="Third slide">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
	            </a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
            </div>
		<!--案例-->
		<div class="case container">
			<div class="row">
				<div class="col-sm-4">
					
					<img class="img-circle" src="../assets/img/4.jpg " />
					<h2>案例1</h2>
					<p>非常不错nices</p>
				</div>
				<div class="col-sm-4">
					
					<img class="img-circle" src="../assets/img/5.jpg " />
					<h2>案例2</h2>
					<p>非常不错nices</p>
				</div>
				<div class="col-sm-4">
					
					<img class="img-circle" src="../assets/img/6.jpg " />
					<h2>案例3</h2>
					<p>非常不错nices</p>
				</div>
			</div>
			
		</div>
		<!--产品功能截图-->
		<div class="screenshoot container">
			<div class="row item">	
				<div class="col-sm-5">
					<img src="../assets/img/7.jpg" />
				</div>
				<div class="col-sm-7">
					<h2>截图1</h2>
					<p>截图说明1，截图说明1，截图说明1，截图说明1，截图说明1，</p>
				</div>
				
			</div>
			<div class="row item">
				<div class="col-sm-7">
					<h2>截图2</h2>
					<p>截图说明2，截图说明1，截图说明1，截图说明1，截图说明1，</p>
				</div>
				<div class="col-sm-5">
					<img src="../assets/img/8.jpg" />
				</div>
			</div>
			<div class="row item">
				<div class="col-sm-5">
					<img src="../assets/img/9.jpg" />
				</div>
				<div class="col-sm-7">
					<h2>截图3</h2>
					<p>截图说明1，截图说明1，截图说明1，截图说明1，截图说明1，</p>
				</div>
			</div>
		</div>
		<div class="container">
		  <footer>
		      微信公众号管家版权所有 2016
		      <a href="">四光年科技</a>
		  </footer>
		</div>
	</body>
</html>