<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>bootstrap实例</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />		
		<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
		<script src="../assets/js/jquery-1.12.3.js"></script>
		<script src="../assets/js/bootstrap.js"></script>
	</head>
	<body>
		<!--导航-->
		<div class="nav">
			<nav class="navbar navbar-default  role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
						<span class="sr-only">导航栏</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">微信公众号管家</a>
				</div>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav">
						<li >
							<a href="Home_index.html">首页</a>
						</li>
						<li >
						   <a href="Home_about.html">关于</a>
						</li>
						<li class="active">
							<a href="Home_case.html">文章</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多精彩<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">彩蛋1</a>
								</li>
								<li>
									<a href="#">彩蛋2</a>
								</li>
							</ul>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
		<!--正文-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="page-header">
						<h1>联创科技<small>有价值的、有趣的信息服务</small></h1>
					</div>
					<blockquote>
					  <p>交给你全栈开发的一招一式，我们不会装作什么都懂，也不会教你花架子，只是能保证你学完后，拥有自己的一套内功心法，能举一反三，轻松写代码</p>
					</blockquote>
					<p>
				    	<strong>程序员修炼之道</strong>
					</p>
					<p>
						<mark>“衣带渐宽终不悔，为伊消得人憔悴”</mark>，编程大约有三个境界，新手、高手和<del>高不成低不就的中手</del>，适合新手的教程很多，指导中手的教程却很少；没有几十万行代码的锤炼或者长期在一个高手团队里打磨切磋，中手需要在这个层次“众里寻他千百度”，才能“蓦然回首”。 <ins>我们偏好实践，以正确的原则指导正确的行动</ins>
					</p>
					<p class="text-center">
					     <img style="width:500px;height:300px;" src="../assets/img/4.jpg" />
					</p>
					<p>听说 PHP 很简单，常用的函数有<code>echo</code>、<code>is_array</code>、<code>mysql_connect</code>等等</p>
					<p>
					    例如
					     <pre>
					     // example
					     if($a == 1){
					         echo 'variable a = 1';
					     }else{
					         echo 'variable a = 2';
					     }
					     </pre>
					 </p>
					 <p class="text-center">
					     <button class="btn btn-primary">顶</button>
					     <button class="btn btn-danger">踩</button>
					 </p>
				</div>
				<div class="col-sm-3">
					<p>
						<img class="img-circle" style="width:200px;height:200px;" src="../assets/img/6.jpg" />
					</p>
					<h3>相关内容</h3>
					<ul class="list-unstyled">
					     <li><a href="">深圳市四光年信息技术有限公司</a></li>
					     <li><a href="">深圳市腾讯计算机系统</a></li>
					     <li><a href="">北京市百度互联网计算有限公司</a></li>
					     <li><a href="">杭州市阿里巴巴集团</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
